@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
}

header {
	background-image: url(../img/BG1.png),
		linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	z-index: 1; /* тест */
}

header::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 150px;
	background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 0%, #0b1d26 100%);
}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	padding-top: 64px;
}

.nav-header-center {
	display: flex;
	justify-content: space-between;
	gap: 48px;
}

.header-btn {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.account-btn {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	font-size: 17px;
}

.account-btn-icon {
	width: 24px;
	height: 24px;
}

.burger-icon {
	display: none;
}

.mobile-menu {
	display: none;
	width: 100%;
	height: 265px;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 9999;
}

.mobile-menu-upper-block {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding-top: 64px;
}

.mobile-menu-lower-block {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding-top: 64px;
}

.mobile-menu-lower-block div {
	display: flex;
	justify-content: space-between;
	width: 300px;
	gap: 24px;
}

.filter {
	filter: invert(1);
}

.header-btn-black {
	color: #000;
	font-weight: 600;
	font-size: 18px;
}

@media (max-width: 768px) {
	.burger-icon {
		display: block;
	}
	.header-btn {
		display: none;
	}
}

@media (max-width: 480px) {
	.mobile-menu-lower-block div {
		flex-direction: column;
		gap: 15px;
	}
	.header-btn-black {
		margin-top: 5px;
	}
	.mobile-menu {
		height: 350px;
	}
}

@media (max-width: 320px) {
	.mobile-menu-lower-block {
		flex-direction: column;
		gap: 35px;
		align-items: flex-start;
		padding-top: 34px;
	}
	.header-btn-black {
		margin-top: 5px;
		font-weight: 600;
		font-size: 16px;
		margin-left: 0;
	}
	.mobile-menu {
		height: 350px;
	}

	.social-links-mobile {
		display: none; /* Скрыто по умолчанию */
		flex-direction: column;
		align-items: flex-start;
		gap: 10px; /* Отступ между иконками */
		position: absolute;
		top: 160px; /* Позиция в мобильном меню */
		right: 20px; /* Отступ от левого края */
	}
	.social-links-mobile img {
		filter: invert(1); /* Черный цвет иконок */
		width: 24px; /* Установите нужный размер */
		height: 24px; /* Установите нужный размер */
	}
	.social-links-mobile .vertical-text {
		color: #000;
		writing-mode: vertical-rl;
		transform-origin: left bottom;
		text-orientation: mixed;
		transform: rotate(0deg);
		white-space: nowrap;
	}
	.mobile-menu.active .social-links-mobile {
		display: flex; /* Показывать при открытом меню */
	}
}

.header-content {
	position: absolute;
	top: 287px;
	left: 50%;
	transform: translateX(-50%);
	text-align: left;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 950px;
}

.header-content a {
	color: white;
	font-weight: bold;
}

.scroll-down-wrapper {
	display: flex;
	gap: 10px;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-size: 88px;
}

.header-content .rectangle-icon-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 400px;
	gap: 32px;
}

.header-content .rectangle-icon-wrapper p {
	color: #fbd784;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 6px;
}

.slider {
	position: absolute;
	top: 326px;
	right: 80px;
	transform: none;
}

.social-links {
	position: absolute;
	top: 359px;
	left: 77px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.vertical-text {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(0deg);
	white-space: nowrap;
}

main {
	background-color: #0b1d26;
	position: relative; /* тест */
	z-index: 1; /* тест */
}

main .rectangle-icon-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 600px;
	gap: 32px;
}

main .rectangle-icon-wrapper p {
	color: #fbd784;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 6px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 0;
}

.content-text h2 {
	color: #fff;
	font-size: 64px;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
	font-style: normal;
}

.content-text2 h2,
.content-text3 h2 {
	color: #fff;
	font-size: 64px;
	font-weight: 600;
}

.content-text,
.content-text2,
.content-text3 {
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.content-text p,
.content-text2 p,
.content-text3 p {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.8;
}

.section-number,
.section-number3 {
	color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый цвет */
	font-weight: bold;
	font-size: 240px;
	letter-spacing: 6px;
	position: relative;
	top: -250px;
	right: -50px;
	width: 10%;
}

.section-number2 {
	color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый цвет */
	font-weight: bold;
	font-size: 240px;
	letter-spacing: 6px;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-20%, -45%);
}

.section-1-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1462px;
	margin: 0 auto;
	padding: 0 0px;
	box-sizing: border-box;
	margin-top: -100px;
	position: relative;
	z-index: 2;
}

.section-2-content {
	display: flex;
	flex-direction: row-reverse; /* Изменено для расположения элементов слева направо */
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1462px;
	margin: 0 auto;
	padding: 0 0px;
	box-sizing: border-box;
	margin-top: 200px;
	position: relative;
	z-index: 2;
}

.section-3-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1462px;
	margin: 0px auto;
	padding: 0px 0px;
	box-sizing: border-box;
	margin-top: 200px;
	position: relative;
	z-index: 2;
}

.content-wrapper,
.content-wrapper2,
.content-wrapper3 {
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.read-more-wrapper a {
	color: #fbd784;
	font-weight: bold;
	font-size: 18px;
}

@media (max-width: 1536px) {
	.header-content {
		width: 60%;
		max-width: 1200px;
	}
	.section-1-content,
	.section-2-content,
	.section-3-content {
		max-width: 1260px;
	}
	.number-icon1,
	.number-icon2,
	.number-icon3 {
		width: 488px;
		height: 765px;
	}
	.section-number {
		top: -270px;
		right: -40px;
		width: 5%;
	}
	.section-number2 {
		top: 50px;
		left: 48%;
		transform: translate(-20%, -45%);
	}
	.section-number3 {
		top: -290px;
		right: -50px;
		width: 10%;
	}
	.content-text h2 {
		color: #fff;
		font-size: 64px;
		font-weight: 400;
		font-family: 'Poppins', sans-serif;
		font-style: normal;
	}
}

@media (max-width: 1024px) {
	.header-content {
		/* width: 60%;  */
		/* max-width: 750px; */
		width: 705px;
	}
	h1 {
		font-size: 60px;
	}
	.slider-icon {
		width: 59px;
	}
	.section-1-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -250px;
	}
	.section-2-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 300px;
	}
	.section-3-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0px;
	}
	.number-icon1,
	.number-icon2,
	.number-icon3 {
		width: 860px;
		height: 982px;
		margin-top: 50px;
	}
	.section-number {
		top: 150px;
		right: 0px;
		width: 65%;
	}
	.section-number2 {
		top: -40px;
		left: 100px;
		width: 0%;
	}
	.section-number3 {
		top: 140px;
		right: 0px;
		width: 60%;
	}
	.content-text2 {
		text-align: right;
	}
}

@media (max-width: 768px) {
	.header-content .rectangle-icon-wrapper p {
		font-size: 16px;
	}
	.header-content {
		width: 517px;
	}
	h1 {
		font-size: 44px;
	}
	.slider-icon {
		width: 59px;
	}
	.section-number {
		font-size: 180px;
		top: 100px;
		right: 40px;
		width: 65%;
	}
	.section-number2 {
		font-size: 180px;
		top: -50px;
		left: 200px;
		width: 65%;
	}
	.section-number3 {
		font-size: 180px;
		top: 100px;
		right: 50px;
		width: 65%;
	}
	.content-text h2,
	.content-text2 h2,
	.content-text3 h2 {
		font-size: 40px;
		white-space: nowrap;
	}
	.content-text p,
	.content-text2 p,
	.content-text3 p {
		font-size: 16px;
	}
	.read-more-wrapper a {
		font-size: 16px;
	}
	.number-icon1,
	.number-icon2,
	.number-icon3 {
		width: 704px;
		height: 934px;
		margin-top: 50px;
	}
	.content-wrapper,
	.content-wrapper2,
	.content-wrapper3 {
		width: 80%;
	}
	.footer-bottom p {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.header-content .rectangle-icon-wrapper p {
		font-size: 16px;
	}
	.header-content {
		top: 220px;
		left: 45%;
		width: 379px;
	}
	.slider-icon {
		width: 59px;
		margin-right: -100px;
	}
	.social-links {
		position: absolute;
		top: 150px;
		left: 270px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 24px;
	}
	.vertical-text {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		writing-mode: horizontal-tb;
		text-orientation: mixed;
		transform: rotate(0deg);
		white-space: nowrap;
	}
	.section-2-content {
		margin-top: 150px;
	}
	.section-3-content {
		margin-top: -80px;
	}
	.section-number {
		font-size: 140px;
		top: 100px;
		right: 40px;
		width: 65%;
	}
	.section-number2 {
		font-size: 140px;
		top: -20px;
		left: 100px;
		width: 65%;
	}
	.section-number3 {
		font-size: 140px;
		top: 130px;
		right: 50px;
		width: 65%;
	}
	.content-text h2,
	.content-text2 h2,
	.content-text3 h2 {
		font-size: 30px;
		white-space: nowrap;
	}
	.content-text p,
	.content-text2 p,
	.content-text3 p {
		font-size: 14px;
	}
	.read-more-wrapper a {
		font-size: 14px;
	}
	.number-icon1,
	.number-icon2,
	.number-icon3 {
		width: 440px;
		height: 509px;
		margin-top: 50px;
	}
	.content-wrapper,
	.content-wrapper2,
	.content-wrapper3 {
		width: 90%;
	}
	.footer-bottom p {
		font-size: 12px;
	}
}

@media (max-width: 320px) {
	h1 {
		font-size: 30px;
	}
	.section-1-content {
		margin-top: -300px;
	}
	.header-content .rectangle-icon-wrapper {
		width: 150%;
		max-width: 500px;
		gap: 12px;
	}
	.header-content .rectangle-icon-wrapper p {
		font-size: 12px;
		font-weight: normal;
	}
	main .rectangle-icon-wrapper p {
		font-weight: normal;
		font-size: 12px;
	}
	.rectangle-icon {
		width: 50px;
	}
	.header-content {
		top: 220px;
		left: 45%;
		width: 240px;
	}
	.slider-icon {
		width: 40px;
		margin-left: 30px;
	}
	.social-links {
		position: absolute;
		top: 150px;
		left: 150px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 10px;
	}
	.vertical-text {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		writing-mode: horizontal-tb;
		text-orientation: mixed;
		transform: rotate(0deg);
		white-space: nowrap;
	}
	.section-number {
		font-size: 100px;
		top: 80px;
		right: 40px;
		width: 65%;
	}
	.section-number2 {
		font-size: 100px;
		top: 0px;
		left: 50px;
		width: 65%;
	}
	.section-number3 {
		font-size: 100px;
		top: 80px;
		right: 50px;
		width: 65%;
	}
	.content-text h2,
	.content-text2 h2,
	.content-text3 h2 {
		font-size: 24px;
		white-space: nowrap;
	}
	.content-text p,
	.content-text2 p,
	.content-text3 p {
		font-size: 14px;
	}
	.read-more-wrapper a {
		font-size: 12px;
	}
	.number-icon1,
	.number-icon2,
	.number-icon3 {
		width: 300px;
		height: 400px;
		margin-top: 20px;
	}
	.content-wrapper,
	.content-wrapper2,
	.content-wrapper3 {
		width: 90%;
	}
	.footer-bottom p {
		font-size: 12px;
	}
}

footer {
	background-color: #0b1d26;
	color: #ffffff;
	padding: 120px 80px 40px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	max-width: 1478px;
	margin: 0 auto;
}

.footer-logo {
	max-width: 400px;
}

.footer-logo img {
	margin-bottom: 24px;
}

.footer-logo p {
	font-size: 18px;
	line-height: 1.6;
}

.footer-links {
	display: flex;
	gap: 100px;
}

.footer-column h3 {
	color: #fbd784;
	font-size: 24px;
	margin-bottom: 24px;
}

.footer-column ul {
	list-style-type: none;
	padding: 0;
}

.footer-column ul li {
	margin-bottom: 16px;
}

.footer-column ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	transition: color 0.3s ease;
}

.footer-column ul li a:hover {
	color: #fbd784;
}

.footer-bottom {
	margin-top: 0px;
	text-align: left;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1920px) {
	.footer-bottom {
		font-size: 16px;
		margin-left: 140px;
	}
}

@media (max-width: 1536px) {
	.footer-bottom {
		font-size: 16px;
		margin-left: 0px;
	}
}

@media (max-width: 1024px) {
	.footer-logo p {
		font-size: 16px;
	}
	.footer-column ul li a {
		font-size: 16px;
	}
	.footer-bottom {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.footer-column h3 {
		font-size: 20px;
	}
	.footer-logo p {
		font-size: 16px;
	}
	.footer-column ul li a {
		font-size: 16px;
	}
	.footer-bottom {
		font-size: 16px;
	}
	footer {
		padding: 150px 35px 38px 29px;
	}
	.footer-links {
		display: flex;
		gap: 20px;
	}
}

@media (max-width: 480px) {
	footer {
		padding: 60px 20px 57px 20px;
	}
	.footer-column ul li a {
		font-size: 13px;
	}
	.footer-content {
		flex-direction: column;
		gap: 40px;
	}

	.footer-links {
		flex-direction: column;
		gap: 40px;
	}
}

@media (max-width: 320px) {
	footer {
		padding: 60px 20px 57px 20px;
	}
	.footer-column h3 {
		font-size: 20px;
	}
	.footer-column ul li a {
		font-size: 13px;
	}
	.footer-content {
		flex-direction: column;
		gap: 40px;
	}
	.footer-content p {
		font-size: 12px;
	}

	.footer-links {
		flex-direction: column;
		gap: 40px;
	}
}
