* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

header {
	display: flex;
	width: 100%;
	justify-content: center;
}

img 	{
	padding: 20px;
	}

.front {
	display: grid;
	width: 100%;
	/* position: fixed; */
	justify-content: center;
	padding: 15px;
	background: rgba(4, 4, 4, 0.2);
	width: 100%;
}

nav button {
	padding: 10px;
	border: none;
	margin-right: 10px;
	font-size: 16px;
	cursor: pointer;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
}

nav button:hover {
	border: 2px solid black;
}

main {
	display: grid;
	justify-items: center;
	gap: 20px;
}

h1,
h2,
h3 {
	padding: 10px 0;
}

.txt {
	display: grid;
	justify-content: center;
	padding: 20px 500px 0 500px;
}

.state {
	display: grid;
	justify-content: center;
	padding: 20px 500px 0 500px;
}

.table {
	display: grid;
	grid-template-columns: 100px repeat(3, 1fr);
	gap: 3px;
	border: 1px solid black;
	margin: 10px;
	padding: 3px;
}

.cell {
	padding: 5px;
	border: 1px solid black;
	min-height: 1px;
	line-height: 1;
}

.header {
	font-weight: bold;
	background-color: #f2f2f2;
	text-align: center;
}

.footer {
	font-weight: bold;
	text-align: center;
}

.center {
	font-weight: bold;
	text-align: center;
}

.head1 {
	font-weight: bold;
	text-align: center;
	line-height: 180px;
}

.head2 {
	font-weight: bold;
	text-align: center;
	line-height: 140px;
}

.cell.rowspan {
	grid-row: span 6;
}

.cell.rowspan2 {
	grid-row: span 5;
}

.cell.colspan {
	grid-column: span 2;
}

footer {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 20px 0;
}
